.alphabet-wrapper__list {
  list-style-type: none;
}

.alphabet-wrapper__word {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--light-blue);
  background-color: var(--basic-white);
}

.alphabet-wrapper__word_selected {
  color: var(--basic-white);
  background-color: var(--light-blue);
}

@media (min-width: $tablet-width) {
  .alphabet-wrapper__list {
    width: 262px;
    height: 346px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }

  .alphabet-wrapper__item {
    width: 53px;
    height: 70px;
  }

  .alphabet-wrapper__word {
    font-size: 20px;
    line-height: 20px;
  }
}
