.alphabet-countries {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .alphabet-countries {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .alphabet-countries {
    width: 730px;
    height: 546px;
  }
}
