.button-detail {
  width: 276px;
  height: 80px;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: var(--light-blue);
  text-decoration: none;
  background-color: var(--basic-yellow);
}
