.company-logo {
  display: block;
  width: 96px;
  height: 15px;
  background-image: url("../img/logo-blue-mobile.svg");
}

.company-logo__image-big {
  display: none;
}

@media (min-width: $tablet-width) {
  .company-logo {
    width: 166px;
    height: 42px;
    background-image: url("../img/logo-tablet-white.png");
    background-size: cover;
  }

  .company-logo__image {
    display: none;
  }

  .company-logo__image-big {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .company-logo__image-big {
    width: 200px;
    height: 52px;
    margin-left: 10px;
  }

  .company-logo {
    width: 200px;
    height: 52px;
  }
}
