.companion-travel {
  background-color: var(--main-blue-text);
}

.companion-travel__show-more {
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: var(--light-blue);
  background-color: var(--basic-yellow);
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .companion-travel .page-margin {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .companion-travel__show-more {
    font-size: 24px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .companion-travel .page-margin {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
