.companion-travel {
  background-color: var(--main-blue-text);
}
.companion-travel__show-more {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: var(--light-blue);
  background-color: var(--basic-yellow);
  text-decoration: none;
}
