.companion-card {
  width: 270px;
  display: block;
  position: relative;
  text-decoration: none;
}

.companion-card__level {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 33px;
  bottom: 361px;
}

.companion-card__level-num {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: var(--basic-white);
}

.companion-card__level-text {
  font-size: 14px;
  line-height: 14px;
  color: var(--basic-white);
}

.companion-card__info {
  position: relative;
  bottom: 5px;
  background-color: var(--basic-white);
  padding-bottom: 15px;
  border-radius: 0 0 10px 10px;
}

.companion-card__user-photo {
  max-width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.companion-card__country-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  position: relative;
  top: -9px;
}

.companion-card__country-item {
  padding-right: 10px;
  padding-left: 10px;
}

.companion-card__info-username {
  margin: 0;
  font-weight: 600;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--light-blue);
}

.companion-card__hashtag-box {
  display: flex;
  justify-content: center;
  margin: 13px 46px 16px;
}

.companion-card__travel-list-item {
  padding: 0 6px;
}

@media (min-width: $tablet-width) {
  .companion-card {
    width: 285px;
    height: 483px;
    border-radius: 20px;
    overflow: hidden;
  }

  .companion-card__info {
    padding-bottom: 24px;
    border-radius: 0 0 20px 20px;
  }

  .companion-card__info-username {
    font-size: 24px;
    line-height: 22px;
  }

  .companion-card__hashtag-box {
    margin: 25px 36px 25px;
  }

  .companion-card__user-photo {
    width: 285px;
  }

  .companion-card__level {
    top: 28px;
    left: 40px;
  }
}
