.contacts-address {
  position: relative;
  background-color: var(--basic-yellow);
  padding: 57px 25px 34px;
  border-radius: 0 0 30px 30px;
}

.contacts-address__wrapper {
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contacts-address__link,
.contacts-address__route {
  background-color: var(--basic-yellow);
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--light-blue);
  text-decoration: none;
}

.contacts-address__link {
  padding-left: 61px;
  position: relative;

  &::before {
    bottom: -8px;
    left: 0;
    position: absolute;
    content: url("../img/map-mark.png");
  }
}

.contacts-address__route {
  display: block;
  padding: 17px 0 17px 20px;
  border: solid 3px var(--main-blue-text);
  border-radius: 10px;
  margin-top: 32px;
  text-transform: uppercase;

  &::after {
    content: url("../img/button-decor-triangle.svg");
    position: relative;
    top: 0;
    left: 50px;
  }
}

@media (min-width: $tablet-width) {
  .contacts-address {
    background-color: var(--basic-yellow);
    padding-top: 119px;
    padding-bottom: 84px;
    border-radius: 0 0 60px 60px;
  }

  .contacts-address__wrapper {
    max-width: 768px;
  }

  .contacts-address__link-br {
    display: none;
  }

  .contacts-address__link {
    display: block;
    align-self: center;
    padding-left: 0;
    font-size: 28px;
    line-height: 28px;

    &::before {
      content: url("../img/map-mark-tablet.png");
      bottom: -27px;
      left: -94px;
    }
  }

  .contacts-address__route {
    align-self: center;
    width: 573px;
    padding: 23px 0 27px 42px;
    margin-top: 66px;
    border-radius: 20px;
    font-size: 24px;
    line-height: 24px;
    text-transform: none;

    &::after {
      content: url("../img/button-decor-triangle.svg");
      position: relative;
      top: 0;
      left: 307px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts-address {
    display: flex;
    justify-content: center;
    padding-top: 114px;
    padding-bottom: 62px;
  }

  .contacts-address__wrapper {
    max-width: 1200px;
    padding-left: 99px;
    flex-direction: row;
    justify-content: center;
  }

  .contacts-address__link {
    margin-left: 167px;

    &::before {
      content: url("../img/map-mark-desk.png");
      bottom: -36px;
      left: -119px;
    }
  }

  .contacts-address__route {
    width: 275px;
    margin: 0 0 0 149px;
    justify-self: flex-end;

    &::after {
      left: 12px;
    }
  }
}
