.countries-list {
  list-style-type: none;
  padding: 0;
}

.countries-list__country-name {
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: var(--special-grey);
}

.countries-list__country-name_main-word {
  display: none;
}

@media (min-width: $tablet-width) {
  .countries-list_active {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 184px;
    height: 420px;
    padding: 0;
    margin: 0;
  }

  .countries-list__country-name {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .countries-list {
    display: flex;
    width: 220px;
    flex-direction: column;
    margin: 0;
  }

  .countries-list__country-name {
    line-height: 30px;
  }

  .countries-list__item_main-word {
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
  }

  .countries-list__country-name_main-word {
    display: block;
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    color: var(--main-blue-text);
  }
}
