.direction-card {
  max-width: 270px;
}

.direction-card__box {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  bottom: 15px;
  padding: 25px 0 2px 25px;
  border-radius: 10px 10px 10px 10px;
  background-color: var(--basic-white);
}

.direction-card__box_thai {
  &::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 24px;
    background-image: url("../img/thailand50.png");
    top: -12px;
  }
}

.direction-card__box_france {
  &::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 24px;
    background-image: url("../img/france50.png");
    top: -12px;
  }
}

.direction-card__box_czech {
  &::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 24px;
    background-image: url("../img/czech50.png");
    top: -12px;
  }
}

.direction-card__link {
  text-decoration: none;
}

.direction-card__pic {
  border-radius: 10px 10px 0 0;
}

.direction-card__country {
  width: 50%;
  margin: 0;
  font-weight: 600;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.direction-card__tourist {
  position: relative;
  margin-left: 57px;
  top: 2px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
  opacity: 0.3;

  &::before {
    content: "";
    position: absolute;
    left: -18px;
    top: 6px;
    width: 11px;
    height: 11px;
    background: url("../img/user.svg") center no-repeat;
    background-size: 11px 11px;
  }
}

.direction-card__text {
  margin-top: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  opacity: 0.3;
}

.direction-card__button-more {
  display: block;
  width: 245px;
  height: 62px;
  border-radius: 10px;
  padding-left: 25px;
  font-weight: 600;
  font-size: 18px;
  line-height: 58px;
  color: var(--main-blue-title);
  text-decoration: none;
  background-color: var(--basic-yellow);
}

@media (min-width: $tablet-width) {
  .direction-card__link {
    display: flex;
    flex-direction: row-reverse;
  }

  .direction-card {
    max-width: 616px;
  }

  .direction-card__box {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 26px 0 0 28px;
    bottom: 0;
    border-radius: 20px 0 0 20px;
  }

  .direction-card__box_thai {
    &::before {
      content: "";
      width: 70px;
      height: 47px;
      background-image: url("../img/thailand.png");
      top: 15px;
      right: -37px;
    }
  }

  .direction-card__box_france {
    &::before {
      width: 70px;
      height: 47px;
      background-image: url("../img/france.png");
      top: 15px;
      right: -37px;
    }
  }

  .direction-card__box_czech {
    &::before {
      width: 70px;
      height: 47px;
      background-image: url("../img/czech.png");
      top: 15px;
      right: -37px;
    }
  }

  .direction-card__pic {
    width: 186px;
    height: 137px;
    border-radius: 0 20px 20px 0;
  }

  .direction-card__country {
    font-size: 24px;
    line-height: 24px;
  }

  .direction-card__text {
    font-size: 20px;
    line-height: 20px;
  }

  .direction-card__tourist {
    position: absolute;
    top: 89px;
    margin-left: 5px;
    font-size: 20px;
    line-height: 20px;

    &::before {
      content: url("../img/icon-user.svg");
      position: relative;
      top: 7px;
      left: -9px;
    }
  }

  .direction-card__button-more {
    display: block;
    width: 587px;
    height: 82px;
    margin-left: 0;
    padding-left: 34px;
    font-size: 24px;
    line-height: 78px;
    border-radius: 20px 20px 20px 20px;

    &::after {
      content: url("../img/button-decor-triangle.svg");
      position: relative;
      top: 0;
      left: 397px;
    }
  }
}

@media (min-width: $desktop-width) {
  .direction-card {
    width: 561px;
  }

  .direction-card__box {
    padding-left: 30px;
    padding-top: 22px;
  }

  .direction-card__button-more {
    width: 240px;
    display: block;
    justify-self: left;
    margin-left: 0;

    &::after {
      left: 53px;
    }
  }
}
