.filtering-country__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--main-blue-text);
  background-color: var(--lilac-light);
}

.filtering-country__menu-close-bottom {
  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--light-blue);
  background-color: var(--lilac-blue);
  text-decoration: none;
  border: none;
}
