.filter-wrapper {
  background-color: var(--basic-yellow);
  padding: 0 25px;
}

.filter-wrapper__title {
  width: 50%;
  margin: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  color: var(--light-blue);
}

@media (min-width: $tablet-width) {
  .filter-wrapper__title {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .filter-wrapper {
    max-width: 285px;
  }
}
