.filtering-country {
  background-color: var(--lilac-light);
  padding: 0 25px;
}

.filtering-country__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--main-blue-text);
  background-color: var(--lilac-light);
}

.filtering-country__menu-button {
  width: 17px;
  height: 17px;
}

.filtering-country__menu-close-bottom {
  width: 100%;
  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--light-blue);
  background-color: var(--lilac-blue);
  text-decoration: none;
  border: none;
}

.filtering-country__nav {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .filtering-country__title {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .filtering-country__title {
    display: block;
  }
}
