.header {
  background-color: var(--main-blue-title);
}

.header__title {
  margin: 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-white);
}

.header__profile {
  display: none;
}

@media (min-width: $tablet-width) {
  .header {
    background-color: var(--main-blue);
  }

  .header__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 40px;
  }

  .header__title {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .header__title {
    width: 50%;
    font-size: 60px;
    line-height: 60px;
  }
}
