.home-button {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-white);
}

.home-button_hidden {
  display: none;
}

@media (min-width: $tablet-width) {
  .home-button {
    position: relative;
    width: 30%;
    padding-top: 73px;
    padding-left: 10px;
    text-align: right;
    display: block;
    font-weight: 600;

    &::after {
      position: absolute;
      right: -60px;
      content: url("../img/icon-arrow-bend.png");
    }
  }
}

@media (min-width: $desktop-width) {
  .home-button {
    width: 35%;
    padding-top: 107px;
    padding-left: 7px;
  }
}
