.map__link {
  display: block;
  min-width: 320px;
  min-height: 424px;
  background-image: url("../img/background-map-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: $tablet-width) {
  .map__link {
    min-height: 550px;
    background-image: url("../img/background-map-tablet.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: $desktop-width) {
  .map__link {
    background-image: url("../img/background-map-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
