.menu-box {
  display: none;
  width: 100%;
  background-color: var(--basic-white);
  top: 0;
  padding-top: 27px;
  position: relative;
  z-index: 100;
}

.menu-box_no-js {
  display: block;
  position: relative;
}

.menu-box_no-js-index {
  top: -72px;
}

.menu-box_no-js-index .menu-box__social-list {
  margin-bottom: 0;
  padding-bottom: 29px;
}

.menu-box_no-js-form .menu-box__social-list {
  margin-bottom: 0;
  padding-bottom: 5px;
}

.menu-box_no-js-catalog .menu-box__social-list {
  margin-bottom: 0;
  padding-bottom: 5px;
}

.menu-box_no-js .menu-box__close {
  display: none;
}

.menu-box__navbar {
  margin-top: 66px;
}

.menu-box__authorization {
  width: 270px;
  height: 50px;
  display: block;
  margin: 53px auto 58px;
  border-radius: 30px;
  line-height: 50px;
}

.menu-box__item-phone {
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-blue-text);

  &::before {
    content: "";
    width: 45px;
    height: 45px;
    left: 25px;
    top: -7px;
    position: absolute;
    background-image: url("../img/contacts-icon-phone.png");
  }
}

.menu-box__phone {
  margin-right: 22px;
}

.menu-box__item-mail {
  position: relative;
  margin-top: 22px;
  margin-left: 25px;

  &::before {
    content: "";
    width: 45px;
    height: 45px;
    position: absolute;
    top: -14px;
    left: -1px;
    background-image: url("../img/contacts-icon-mail.png");
  }
}

.menu-box__mail {
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
}

.menu-box__social-list {
  display: flex;
  justify-content: center;
  margin-top: 42px;
  margin-bottom: 29px;
}

.menu-box__authorization-top {
  display: none;
}

.menu-box__content-link-image_facebook {
  width: 11px;
  height: 21px;
}

.menu-box__content-link-image_vk {
  width: 23px;
  height: 12px;
}

.menu-box__content-link-image_insta {
  width: 18px;
  height: 18px;
}

.menu-box_no-js-form {
  top: -144px;
}

.menu-box_no-js-catalog {
  top: -144px;
}

.menu-box_open {
  display: block;
  position: fixed;
  top: 0;
}

@media (min-width: $tablet-width) {
  .menu-box_no-js-index {
    top: -137px;
  }

  .menu-box_no-js-form {
    top: -350px;
  }

  .menu-box_no-js-catalog {
    top: -295px;
  }

  .menu-box_open {
    top: 0;
  }

  .menu-box__authorization-top {
    width: 188px;
    height: 50px;
    display: block;
    margin: 0 41px 0 0;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    border-radius: 30px;
    line-height: 50px;
    background-color: var(--basic-yellow);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--main-blue-text);
  }

  .menu-box__authorization {
    display: none;
  }

  .menu-box {
    padding-top: 40px;
  }

  .menu-box__logo {
    margin-left: 19px;
    margin-top: 7px;
  }

  .menu-box__close {
    margin-top: 17px;
    margin-right: -26px;
  }

  .menu-box__navbar {
    margin-top: 88px;
  }

  .menu-box__item-phone {
    margin-left: 189px;

    &::before {
      content: "";
      width: 68px;
      height: 68px;
      left: -91px;
      top: -24px;
      position: absolute;
      background-image: url("../img/contacts-icon-phone-tablet.png");
    }
  }

  .menu-box__item-mail {
    margin-top: 33px;
    margin-left: 189px;

    &::before {
      content: "";
      width: 68px;
      height: 68px;
      position: absolute;
      top: -17px;
      left: -92px;
      background-image: url("../img/contacts-icon-mail-tablet.png");
    }
  }

  .menu-box__phone {
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
  }

  .menu-box__mail {
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
  }

  .menu-box__social-list {
    justify-content: flex-start;
    margin-top: 133px;
    margin-left: 98px;
  }

  .menu-box__navigation__link {
    font-weight: 500;
    font-size: 60px;
    line-height: 71px;
  }

  .menu-box__navigation__item {
    text-align: left;
    margin-left: 98px;
  }
}

@media (min-width: $desktop-width) {
  .menu-box {
    display: none;
  }

  .menu-box__content-link-image_facebook {
    width: 14px;
    height: 28px;
  }

  .menu-box__content-link-image_vk {
    width: 31px;
    height: 16px;
  }

  .menu-box__content-link-image_insta {
    width: 24px;
    height: 24px;
  }
}
