.menu-box {
  display: none;
  padding: 0 26px;
  background-color: var(--basic-white);
}

@media (min-width: $tablet-width) {
  .menu-box {
    padding: 0 40px;
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .menu-box {
    display: none;
  }
}
