.menu-box {
  display: none;
  width: 320px;
  background-color: var(--basic-white);
  top: 0;
  padding-top: 27px;
  position: fixed;
  z-index: 100;
}

.menu-box_open {
  display: block;
}

.menu-box_no-js {
  display: block;
}

.menu-box_no-js .menu-box__close {
  display: none;
}

.menu-box__navbar {
  margin-top: 66px;
}

.menu-box__authorization {
  width: 270px;
  height: 50px;
  display: block;
  margin: 53px auto 58px;
  border-radius: 30px;
  line-height: 50px;
}

.menu-box__item-phone {
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-blue-text);

  &::before {
    content: "";
    width: 45px;
    height: 45px;
    left: 25px;
    top: -7px;
    position: absolute;
    background-image: url("../img/contacts-icon-phone.png");
  }
}

.menu-box__phone {
  margin-right: -24px;
}

.menu-box__item-mail {
  position: relative;
  margin-top: 22px;
  margin-left: 25px;

  &::before {
    content: "";
    width: 45px;
    height: 45px;
    position: absolute;
    top: -14px;
    left: -1px;
    background-image: url("../img/contacts-icon-mail.png");
  }
}

.menu-box__mail {
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
}

.menu-box__social-list {
  display: flex;
  justify-content: center;
  margin-top: 42px;
  margin-bottom: 29px;
}

@media (min-width: $tablet-width) {
  .menu-box {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .menu-box {
    display: none;
  }
}
