.navbar {
  background-color: var(--main-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: $mobile-width-only) {
  .navbar {
    margin: 0 26px;
  }
}

@media (min-width: $tablet-width) {
  .navbar {
    margin: 0 40px;
  }
  .promo-board-list__contact-button {
    font-size: 0px;
    display: none;
  }
}
