.navbar-menu {
  display: flex;
  justify-content: space-between;
}

.navbar-menu_logo {
  padding-left: 22px;
}

.navbar-menu__button_close {
  width: 19px;
  height: 19px;
  position: relative;
  z-index: 100;
  background-image: url("../img/icon-menu-mobile-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -2px;
  margin-right: 27px;
}

@media (min-width: $tablet-width) {
  .navbar-menu {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .navbar-menu {
    width: 100%;
  }
}
