.navbar {
  background-color: var(--main-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__contact-list {
  display: none;
}

@media (min-width: $tablet-width) {
  .promo-board-list__contact-button {
    font-size: 0;
    display: none;
  }
}
