.navbar-menu-navigation_horizontal {
  display: none;
}

.navbar-menu-navigation__list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.navbar-menu-navigation__item {
  text-align: center;
}

.navbar-menu-navigation__link {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  color: var(--main-blue-text);
  text-decoration: none;
}

@media (min-width: $desktop-width) {
  .navbar-menu-navigation {
    display: flex;
  }

  .navbar-menu-navigation__item {
    margin-right: 34px;
  }

  .navbar-menu-navigation__list {
    display: flex;
  }

  .navbar-menu-navigation__link {
    font-size: 20px;
    line-height: 20px;
    color: var(--basic-white);
  }
}
