.navbar-menu {
  display: flex;
  justify-content: space-between;
}

.navbar-menu__list {
  list-style-type: none;
  padding: 0;
}

.navbar-menu__item {
  text-align: center;
}

.navbar-menu__authorization,
.navbar-menu__phone,
.navbar-menu__mail {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-blue-text);
}

.navbar-menu__authorization {
  background-color: var(--basic-yellow);
}

@media (min-width: $tablet-width) {
  .navbar-menu {
    width: 100%;
  }

  .navbar-menu__item {
    text-align: left;
  }

  .navbar-menu__authorization {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .navbar-menu {
    width: 100%;
  }
}
