.next-card-button {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--light-blue);
  background-color: var(--basic-yellow);
  text-decoration: none;
}
