.number-companions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.number-companions__title {
  width: 70%;
  margin-right: auto;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--light-blue);
}

.number-companions__text {
  width: 30%;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: right;
  text-transform: uppercase;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .number-companions__title,
  .number-companions__text {
    font-size: 20px;
    line-height: 18px;
  }

  .number-companions__title {
    width: auto;
  }
}
