.previous-card {
  display: block;
  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--light-blue);
  text-decoration: none;
  text-align: center;
}
