@media (min-width: $desktop-width) {
  .profile-info {
    width: 40%;
    display: flex;
    align-items: center;
  }

  .profile-info__level {
    position: relative;
    width: 100px;
    display: flex;
    flex-direction: column;
  }

  .profile-info__stroke {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);
  }

  .profile-info__level-num {
    margin-top: 25px;
    font-weight: 600;
    font-size: 38px;
    line-height: 38px;
    text-align: center;
    color: var(--basic-white);
  }

  .profile-info__level-text {
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: var(--basic-white);
  }

  .profile-info__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--main-blue-title);
    background-color: var(--special-choose);
  }

  .profile-info__user-photo {
    border-radius: 10px 10px 0 0;
  }
}
