.promo-board {
  background-image: url("../img/promo-bckg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--basic-white);
}

.promo-board__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  grid-area: promo-board__title;
}

.promo-board__quote {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  grid-area: promo-board__quote;
}

.promo-board__quote-author {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  grid-area: promo-board__quote-author;
}

@media (min-width: $tablet-width) {
  .promo-board {
    background-image: url("../img/promo-bckg-tablet.png");
  }
  .promo-board__title {
    font-size: 60px;
    line-height: 70px;
  }
  .promo-board__quote {
    font-size: 28px;
    line-height: 33px;
  }
  .promo-board__quote-author {
    font-size: 21px;
    line-height: 25px;
  }
}

@media (min-width: $desktop-width) {
  .promo-board .page-margin {
    display: grid;
    grid-template-areas:
      "promo-board__title promo-board__title  promo-board__quote"
      "promo-board__title promo-board__title  promo-board__quote-author"
      "step-list step-list step-list";
  }
  .promo-board__title {
    text-align: left;
  }
  .promo-board__quote,
  .promo-board__quote-author {
    text-align: right;
  }
}
