.public-cards__filter {
  background-color: var(--basic-yellow);
  padding: 0 25px;
}

.public-cards__filter-title {
  width: 50%;
  margin: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  color: var(--light-blue);
}

@media (min-width: $tablet-width) {
  .public-cards__filter-title {
    width: 100%;
  }

  .public-cards__content {
    padding: 0 40px;
  }
}

@media (min-width: $desktop-width) {
  .public-cards__filter {
    max-width: 285px;
  }

  .public-cards__content {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}
