.rate-tariff {
  background-color: var(--basic-grey);
}

.rate-tariff__start {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: var(--special-orange);
}

.rate-tariff__list {
  list-style-type: none;
  padding: 0;
}

.rate-tariff__item {
  color: var(--special-grey);
}

.rate-tariff__company-show {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: var(--basic-link);
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .rate-tariff__start {
    font-size: 45px;
    line-height: 45px;
    text-align: center;
  }

  .rate-tariff__item {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    line-height: 28px;
  }

  .rate-tariff__item .rate-tariff__item-content:nth-child(2) {
    background-color: var(--lilac-light);
  }

  .rate-tariff__company-show {
    font-size: 20px;
    line-height: 20px;
  }
}
