.regions-list {
  list-style-type: none;
  padding: 0;
}

.regions-list-condition {
  display: none;
}

.regions-list__region-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--main-blue-text);
  text-decoration: none;
  opacity: 0.3;
}

.regions-list__region-name_selected {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--main-blue-text);
  text-decoration: none;
  opacity: 1;
}

.region-list__show-all {
  display: none;
}

@media (min-width: $tablet-width) {
  .regions-list {
    display: none;
  }

  .regions-list-condition {
    display: flex;
  }

  .region-list__show-all {
    display: block;
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }
}
