.regions-list {
  list-style-type: none;
  padding: 0;
}

.regions-list__region-item {
  margin-bottom: 10px;
}

.regions-list__region-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--main-blue-text);
  text-decoration: none;
  opacity: 0.3;
}

.regions-list__region-name_selected {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--main-blue-text);
  text-decoration: none;
  opacity: 1;
}

@media (min-width: $tablet-width) {
  .regions-list__region-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
  }
}
