.direction-travel_position {
  position: relative;
  margin-top: -20px;
}

.companion-travel_position {
  margin-top: -96px;
}

.rate-tariff_position {
  position: relative;
  margin-top: -106px;
  padding-top: 100px;
  z-index: 7;
}

.contacts_position {
  position: relative;
  margin-top: -77px;
  padding-top: 147px;
  z-index: 6;
}

.contacts-address_position {
  position: relative;

  margin-top: -24px;
  z-index: 5;
}

.map_position {
  position: relative;

  margin-top: -52px;
  z-index: 4;
}

.footer_position {
  margin-top: -110px;
}

@media (min-width: $tablet-width) {
  .direction-travel_position {
    margin-top: -60px;
  }

  .companion-travel_position {
    margin-top: -53px;
  }

  .contacts-address_position {
    margin: 0 auto;
    margin-top: -56px;
  }

  .map_position {
    margin-bottom: -60px;
  }

  .footer_position {
    position: relative;
    z-index: 5;
    margin-top: 25px;
    padding-top: 47px;
    padding-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .direction-travel_position {
    margin: 0 auto;
  }

  .map_position {
    margin-bottom: -129px;
  }
}
