.section-position {
  position: relative;
  // bottom: 20px;
  margin-top: -20px;
}

.section-position_40 {
  // bottom: 116px;
  margin-top: -96px;
}

.section-position_60 {
  position: relative;
  // bottom: 224px;
  margin-top: -106px;
  padding-top: 100px;
  z-index: 7;
}

.section-position_80 {
  position: relative;
  // bottom: 300px;
  margin-top: -77px;
  padding-top: 147px;
  z-index: 6;
}

.section-position_100 {
  position: relative;
  // bottom: 323px;
  margin-top: -24px;
  z-index: 5;
}

.section-position_120 {
  position: relative;
  // bottom: 375px;
  margin-top: -52px;
  z-index: 4;
}

.section-position_140 {
  margin-top: -110px;
}

@media (min-width: $tablet-width) {
  .section-position {
    // bottom: 60px;
    margin-top: -60px;
  }

  .section-position_40 {
    margin-top: -53px;
  }

  .section-position_100 {
    // bottom: 353px;
    margin-top: -56px;
  }

  .section-position_120 {
    margin-bottom: -60px;
  }

  .section-position_140 {
    position: relative;
    z-index: 5;
    margin-top: 25px;
    padding-top: 47px;
    padding-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .section-position_120 {
    margin-bottom: -129px;
  }
}
