.short-info__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: var(--special-orange);
}
.short-info__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-white);
}
.short-info__text-important {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-white);
}

.short-info_theme_light .short-info__text {
  color: var(--special-grey);
}

.short-info__link {
  color: var(--basic-yellow);
}
