.short-info {
  padding-left: 8px;
}

.short-info__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: var(--special-orange);
  margin: 0;
  padding-left: 5px;
}

.short-info__text {
  padding-top: 4px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-white);
}

.short-info__text-important {
  padding-top: 2px;
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-white);
}

.short-info_theme_light .short-info__text {
  color: var(--special-grey);
}

.short-info__link {
  color: var(--basic-yellow);
}

.short-info__show-more {
  display: none;
}

@media (min-width: $tablet-width) {
  .short-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 75px;
    padding-top: 67px;
  }

  .short-info__title,
  .short-info__text,
  .short-info__text-important {
    width: 50%;
  }

  .short-info__title {
    padding-left: 0;
    font-size: 45px;
    line-height: 45px;
  }

  .short-info__text {
    padding-top: 14px;
    font-size: 28px;
    line-height: 33px;
  }

  .short-info__text-br {
    display: none;
  }

  .short-info__text-important {
    margin-bottom: 54px;
    font-size: 21px;
    line-height: 25px;
  }

  .contacts__box .short-info__title {
    text-align: center;
    width: 100%;
  }

  .contacts__box .short-info__text {
    text-align: center;
    width: 100%;
  }

  .short-info__show-more {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .short-info {
    padding-top: 10px;
    padding-left: 127px;
  }

  .short-info__title,
  .short-info__text,
  .short-info__text-important {
    width: 52%;
  }

  .short-info__text {
    padding-top: 32px;
  }

  .short-info__text-important {
    padding-top: 9px;
    width: 38%;
    margin-bottom: 87px;
  }

  .short-info__text-important-br {
    display: none;
  }
}
