.short-info__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: var(--special-orange);
  margin: 0;
}

.short-info__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-white);
}

.short-info__text-important {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-white);
  margin: 0;
}

.short-info_theme_light .short-info__text {
  color: var(--special-grey);
}

.short-info__link {
  color: var(--basic-yellow);
}

@media (min-width: $tablet-width) {
  .short-info__title {
    font-size: 45px;
    line-height: 45px;
  }

  .short-info__text {
    font-size: 28px;
    line-height: 33px;
  }

  .short-info__text-important {
    font-size: 21px;
    line-height: 25px;
  }

  .short-info__title,
  .short-info__text,
  .short-info__text-important {
    width: 50%;
  }

  .contacts__box .short-info__title {
    text-align: center;
    width: 100%;
  }

  .contacts__box .short-info__text {
    text-align: center;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .short-info__title,
  .short-info__text,
  .short-info__text-important {
    width: 60%;
  }
}
