.show-button {
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-blue);
  background-color: var(--basic-white);
  border: none;
}
