.social-list {
  display: flex;
  padding-left: 0;
}

.social-list__position {
  margin-top: 37px;
}

.social-list__item {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  list-style-type: none;
  font-size: 0;
}

.social-list_theme_yellow .social-list__item {
  background-color: var(--basic-yellow);
}

.social-list__link {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
}

@media (min-width: $tablet-width) {
  .social-list__item {
    width: 62px;
    height: 62px;
  }

  .social-list__link {
    width: 60px;
    height: 60px;
  }

  .social-list__position {
    margin: 0 0 0 100px;
  }
}
