.step-list {
  list-style-type: none;
  grid-area: step-list;
  padding: 0;
}

.step-list__item_direction {
  background-color: var(--special-orange);
}

.step-list__item_idea {
  background-color: var(--special-orange-2);
}

.step-list__item_similar {
  background-color: var(--special-yellow-dark);
}

.step-list__item_together {
  background-color: var(--basic-yellow);
}

.step-list__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: var(--main-blue-title);
  margin: 0;
}

@media (min-width: $tablet-width) {
  .step-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .step-list__item {
    width: 50%;
  }

  .step-list__text {
    font-size: 24px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .step-list__item {
    width: 25%;
  }
}
