.step-list {
  list-style-type: none;
}

.step-list__item:nth-child(1) {
  background-color: var(--special-orange);
}
.step-list__item:nth-child(2) {
  background-color: var(--special-orange-2);
}
.step-list__item:nth-child(3) {
  background-color: var(--special-yellow-dark);
}
.step-list__item:nth-child(4) {
  background-color: var(--basic-yellow);
}
.step-list__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: var(--main-blue-title);
}
