.travel-duration__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--light-blue);
}

.travel-duration__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: right;
  text-transform: uppercase;
  opacity: 0.3;
}
