.travel-card__title,
.travel-card__text {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: var(--light-blue);
}

.travel-card__instructions {
  font-size: 16px;
  line-height: 22px;
  color: var(--special-grey);
}

.travel-card__filter {
  display: none;
}

.travel-card__filter-link {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.6;
  text-decoration: none;
}

.travel-card__count-box {
  display: flex;
  flex-direction: column;
}

.travel-card__companions {
  order: 0;
}

.travel-card__duration {
  order: 1;
}

.travel-card__checkbox {
  order: 2;
}

@media (min-width: $tablet-width) {
  .travel-card {
    display: flex;
    flex-direction: column;
  }

  .travel-card__title,
  .travel-card__text {
    font-size: 36px;
    line-height: 36px;
  }

  .travel-card__title {
    width: 45%;
  }

  .travel-card__instructions {
    font-size: 20px;
    line-height: 24px;
  }

  .travel-card__buttons {
    display: flex;
    justify-content: space-between;
  }

  .travel-card__companions {
    order: 0;
  }

  .travel-card__duration {
    order: 2;
  }

  .travel-card__checkbox {
    order: 1;
  }

  .travel-card__button {
    width: 40%;
  }
}

@media (min-width: $desktop-width) {
  .travel-card__info-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .travel-card__title {
    width: 20%;
  }

  .travel-card__text {
    width: 70%;
  }

  .travel-card__count-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .travel-card__companions {
    width: 70%;
    margin-right: auto;
  }

  .travel-card__filter {
    display: block;
  }

  .travel-card_route {
    display: flex;
  }

  .travel-card__info-box {
    display: flex;
  }
}
