.type-travel-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .type-travel-list {
    flex-direction: row;
  }

  .type-travel-list_vertical {
    flex-direction: column;
  }
}
