.type-travel-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.type-travel-list__link {
  display: block;
  width: 32px;
  height: 32px;
  background-color: var(--basic-white);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.type-travel-list__link_fly {
  background-image: url("../img/icon-plane.svg");
}

.type-travel-list__link_bus {
  background-image: url("../img/icon-bus.svg");
}

.type-travel-list__link_bicycle {
  background-image: url("../img/icon-bicycle.svg");
}

.type-travel-list__link_walk {
  background-image: url("../img/icon-run.svg");
}

.type-travel-list__item-status_disabled {
  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .type-travel-list {
    flex-direction: row;
  }

  .type-travel-list__link {
    width: 44px;
    height: 44px;
  }

  .type-travel-list_vertical {
    flex-direction: column;
  }
}
