.user-travel-plan {
  background-color: var(--special-blue);
}

.user-travel-plan__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: var(--light-blue);
}
